* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background: #151c39e8;  
}

nav {
    display: flex;
    gap: 100px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    padding: 20px 0;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    width: 100%;
    background-image:
    url(../img/banner-bg.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

main .banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .link a {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

.banner h1 {
    font-size: 45px;
}

.link {
    color: white;
}

h1 {
    color: white;
}

.cards .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    line-height: 30px;
}

.cards-items {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 7px #9e90ff;
    border-radius: 7px;
}

.item img {
    width: 25%;
}

.item-text h3 {
    padding: 10px 0;
}

.item-button {
    width: 100%;
    padding: 10px 0;
}

.item-button a {
    background: #151c39;
    color: white;
    display: block;
    padding: 10px 80px;
    border-radius: 7px;
}

footer {
    background: url(../img/footer-bg.jpg);
    background-size: cover;
    padding: 100px 0;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-form {
    width: 30%;
}

.footer-input input {
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    outline: none;
}

.footer-input button {
    padding: 5px;
    border-radius: 7px;
    text-transform: uppercase;
    color: #151c39;
}

.footer-social {
    display: flex;
    gap: 50px;
}

.footer-social img {
    width: 80px;
}

.footer-social img:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}
